.guides-block-wrapper {
  margin-top: 30px;
}
.guide-block-wrapper {
  margin-top: 20px;
}
.guide-block {
  background-color: #ffffff;
  padding: 22px 20px;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 0 4px rgba(0,0,0,0.16);
  max-width: 295px;
  box-sizing: border-box;
  margin-bottom: 30px;
  line-height: normal;
}
.guide-block .icon-wrapper {
  min-height: 78px;
  margin-bottom: 30px;
}

.howto .guide-block {
  max-width: none;
  min-height: 407px;
}

/* ≥ 768px */
@media screen and (min-width: 48em) {
  .guides-block-wrapper {
    margin-top: 50px;
  }
  .guide-block-wrapper {
    padding-right: 10px;
    margin-top: 0;
  }
  .guide-block-wrapper:last-child {
    padding-right: 0;
  }
}

/* ≥ 960px */
@media screen and (min-width: 60em) {
  .guide-block-wrapper {
    padding-right: 28px;
  }
}
