.page-header {
  min-height: 142px;
}
.chapter-block-section {
  padding-top: 10px;
  padding-bottom: 60px;
}
.chapter-block {
  padding: 20px;
  border: 1px solid #C4C7CA;
  border-radius: 6px;
  margin-top: 50px;
}
.chapter-block-content-wrapper {
  max-width: 380px;
}
.chapter-block-tutorials-wrapper {
  margin-top: 20px;
}
.chapter-block-tutorials {
  background-color: #F5F8FC;
  border-radius: 6px;
  padding: 20px 20px 4px;
  overflow: hidden;
}
.chapter-block ul {
  position: relative;
  overflow: auto;
}
.chapter-block ul li {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  padding-left: 30px;
  padding-bottom: 16px;
  position: relative;
}
.chapter-block ul li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #2A98CB;
  left: 10px;
  top: 6px;
}

/* Single guides page */

.single .right-block {
  margin-top: 40px;
}

.guide-chapters-wrapper ul {
  counter-reset: list;
}
.guide-chapters-wrapper ul li a {
  margin-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  border-bottom: 1px solid #C4C7CA;
  position: relative;
  display: block;
}
.guide-chapters-wrapper ul li a::before {
  counter-increment: list;
  content: counter(list);
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #2A98CB;
  width: 30px;
  height: 30px;
  background-color: #F5F8FC;
  border-radius: 100%;
}
.guide-chapters-wrapper ul li:first-child a {
  margin-top: 0;
}
.guide-chapters-wrapper ul li:last-child a {
  border-bottom: none;
}
.guide-chapters-wrapper li a .chapter-title {
  color: #323232;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  transition: color .2s;
}
.guide-chapters-wrapper li a:hover .chapter-title {
  color: #2A98CB;
}

/* ≥ 568px */
@media screen and (min-width: 35.5em) {
  .chapter-block ul {
    height: 160px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-fill: auto;
    -moz-column-fill: auto;
    column-fill: auto;
  }
}

/* ≥ 768px */
@media screen and (min-width: 48em) {
  .chapter-block {
    padding: 30px;
  }
  .chapter-block-tutorials-wrapper {
    margin-top: 0;
    margin-left: 20px;
  }
  .single .left-block {
    padding-right: 40px;  
  }
  .single .right-block {
    margin-top: 0;
    padding-left: 40px;  
  }
}
