.quicklinks-wrapper {
  position: relative;
  z-index: 1;
  margin-top: -120px;
}
.quicklink-block-wrapper {
  margin-top: 20px;
}
.quicklink-block {
  background-color: #ffffff;
  padding: 22px 20px;
  border-radius: 6px;
  border: 1px solid #C4C7CA;
  text-align: center;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}
.quicklink-block:hover {
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(26, 27, 31, .05), 0 5px 24px 0 rgba(0, 0, 0, .09);
}
.quicklink-block .icon-wrapper {
  min-height: 51px;
  margin-bottom: 14px;
}

.quicklink-block-wrapper.kb-quicklink {
  width: 100%;
  padding-bottom: 20px;
}

.quicklink-block-wrapper.kb-quicklink .quicklink-block {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quicklink-block-wrapper.kb-quicklink .quicklink-block > div {
  display: inline-table;
}


/* ≥ 768px */
@media screen and (min-width: 48em) {
  .quicklink-block-wrapper {
    padding-right: 10px;
    margin-top: 0;
  }
  .quicklink-block-wrapper:last-child {
    padding-right: 0;
  }

  .quicklink-block-wrapper.kb-quicklink {
    max-width: 220px;
    width: 100%;
    padding-bottom: 20px;
  }
}

/* ≥ 960px */
@media screen and (min-width: 60em) {
  .quicklink-block-wrapper {
    padding-right: 20px;
  }
}
