.search.main-section {
  min-height: 250px;
}
.search.main-section h1 {
  margin-top: 50px;
  margin-bottom: 30px;
}
.search-wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.search-wrapper input {
  width: 100%;
  padding: 0 15px 0 40px;
}
.search-wrapper input:focus {
  border-color: #863333;
}

.algolia-autocomplete {
  width: 100%;
}

.aa-dropdown-menu {
  width: 100%;
  background: #fff;
  padding: 0 20px 30px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px 0 #C4C7CA;
  border-radius: 4px;
  margin: 10px 0 0 0;
  z-index: 3;
  position: relative;
}

.aa-dataset-guides,
.aa-dataset-other,
.aa-dataset-docs {
  margin: 20px 0;
}

.aa-header {
  color: #323232;
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 15px 0;
}

.aa-empty {
  font-size: 12px;
  padding: 10px 15px;
  color: #9B9B9B;
}

.aa-suggestion {
  padding: 10px 15px;
  min-height: 45px;
  border-bottom: 1px solid rgba(155, 155, 155, .4);
  cursor: pointer;
}

.aa-suggestion.aa-cursor {
  background: rgba(163, 211, 233, .5);
}

.aa-suggestion:last-child {
  border-bottom: none;
}

.aa-dataset-docs .aa-suggestion,
.aa-dataset-guides .aa-suggestion  {
  padding-left: 60px;
  position: relative;
}

.aa-suggestion .icon {
  position: absolute;
  left: 10px;
  top: 10px;
  transform: scale(0.6);
}

.aa-suggestion .u-replicatedKubernetes,
.aa-suggestion .u-replicatedCircle,
.aa-suggestion .u-replicatedDockerSwarm,
.aa-suggestion .u-replicatedAuditLog,
.aa-suggestion .u-replicatedShip,
.aa-suggestion .u-replicatedTroubleshoot,
.aa-suggestion .u-replicatedHelm {
  transform: scale(0.3);
  left: -30px;
  top: -26px;
}

.aa-suggestion:hover {
  background: rgba(163, 211, 233, .5);
}

.aa-suggestion-header {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.aa-suggestion-description {
  line-height: 22px;
  font-size: 12px;
  color: #9B9B9B;
}

.search-box,
.ais-search-box {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  font-size: 14px;
}

.empty-space {
  position: absolute;
  width: 0;
  height: 0;
  left: -9999px;
  top: -9999px;
}

.search-box {
  width: 100%;
  height: 40px;
  max-width: 100%;
}
.input-wrap::before {
  position: absolute;
  content: "";
  background-image: url("../../images/main_spritesheet.svg");
  background-repeat: no-repeat;
  background-size: initial;
  background-position: -71px -175px;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 10px;
  z-index: 2;
}
