.CreateTicket-wrapper {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  padding: 0;
  margin: 0
}
.CreateTicket-wrapper .FormSection-wrapper {
  padding: 18px
}
.CreateTicket-wrapper .FormSection-wrapper.upload-section {
  background-color: #f8f8f8
}
.CreateTicket-wrapper .FormSection-label {
  font-size: 18px;
  font-weight: 500;
  color: #323232;
  margin-bottom: 12px
}
.CreateTicket-wrapper .FormSection-subCopy {
  font-size: 12px;
  font-weight: 400;
  color: #9b9b9b;
  margin-bottom: 0
}
.Dropzone-wrapper {
  margin: 18px 0
}
.FileUpload-wrapper .file-info {
  color: #4a4a4a;
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px
}