{{ partial "header.html" . }}
	<main>
		  <div class="page-header u-gradient--orangeToOrange main-section flex-column flex1 justifyContent--center">
				<div class="container u-marginTop--most">
					<div class="flex flex-auto justifyContent--center u-marginTop--more">
						<div class="flex-auto">
							<span class="icon u-guidesHeaderIcon u-marginRight--normal"></span>
						</div>
						<div class="flex-auto">
							<h3 class="u-color--white u-fontWeight--bold u-fontSize--header">Guides</h3>
							<p class="u-fontSize--normal u-fontWeight--medium u-color--white u-marginTop--small">Step-by-step guides for all things Replicated.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="chapter-block-section">
				<div class="container">
					<div class="guides-block-wrapper">
						<div class="u-flexTabletReflow flex1 paddingContainer">
							{{ range .Params.guides }}
								<div class="guide-block-wrapper flex1">
									<div class="guide-block">
										<div class="icon-wrapper flex-column justifyContent--flexEnd alignItems--center">
											<span class="icon u-{{ .level }}Wings"></span>
										</div>
										<div>
											<p class="u-fontSize--largest u-color--tuna u-fontWeight--medium u-marginBottom--normal">{{ .title }}</p>
											<p class="u-fontSize--normal u-color--dustyGray u-lineHeight--normal">{{ .description }}</p>
										</div>
										<div class="u-marginTop--more">
											<a class="Button secondary" href="{{ .slug }}">View guide</a>
										</div>
									</div>
								</div>
							{{ end }}
						</div>
					</div>
				</div>
			</div>
	</main>
{{ partial "footer.html" . }}