@import "./utilities/reset.css";
@import "./utilities/base.css";
@import "./utilities/gradients.css";
@import "./utilities/utilities.css";
@import "./utilities/typography.css";
@import "./utilities/colors.css";
@import "./utilities/form_components.css";
@import "./utilities/flexbox.css";
@import "./utilities/icons.css";

@import "./pages/instantsearch.css";
@import "./pages/single.css";
@import "./pages/scheduler-types.css";
@import "./sections/header.css";
@import "./sections/footer.css";
@import "./sections/search.css";
@import "./sections/quicklinks.css";
@import "./sections/guideblocks.css";
@import "./sections/documentation_reference.css";
@import "./sections/docs.css";
@import "./sections/schedulers.css";
@import "./sections/guides.css";
@import "./support/support.css";