{{ partial "headerWithSearch.html" . }}
	<main>
		<article class="single">
				{{ if .Params.gradient }}
					<div class="u-gradient--{{ .Params.gradient }} main-section header flex-column flex1 justifyContent--center">
				{{ else }}
					<div class="u-gradient--redToRed main-section header flex-column flex1 justifyContent--center">
				{{ end }}
				<div class="container">
					<div class="paddingContainer">
						<div class="flex flex-auto u-width--full justifyContent--spaceBetween alignItems--center u-marginTop--more">
							<div class="u-width--full u-marginRight--more">
								<h1 class="u-color--white u-fontWeight--bold u-fontSize--header u-textAlign--left">{{ .Title }}</h1>
								<p class="u-fontSize--normal u-fontWeight--medium u-color--white u-marginTop--normal u-lineHeight--normal">{{ .Description }}</p>
							</div>
							<div class="flex-auto u-hidden--mobileTablet">
								<span class="icon u-{{ .Params.icon }} u-marginRight--normal"></span>
							</div>
						</div>
						{{ if .Params.tags }}
							<div class="tags">
								<ul>
									{{ range .Params.tags }}
										<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
									{{ end }}
								</ul>
							</div>
						{{ end }}
					</div>
				</div>
			</div>
			<div class="container">
				<div class="paddingContainer">
					<div class="u-flexTabletReflow flex1">
						<div class="flex-auto sidebar-wrapper">
							<div class="mobile">
								{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
								{{ $.Scratch.Add "path" .Site.BaseURL }}
								<ol class="breadcrumbs">
								{{ range $index, $element := split $url "/" }}
									{{ $.Scratch.Add "path" $element }}
									{{ if ne $element "" }}
									<li><a href='{{ $.Scratch.Get "path" }}'>{{ . | humanize | title }}</a></li>
									<li>/</li>
									{{ $.Scratch.Add "path" "/" }}
									{{ end }}
								{{ end }}
								</ol>
							</div>
							<p></p>
							{{ if eq .Section "docs" }}
								{{ partial "section_folder_navigation.html" . }}
							{{ else }}
								<div class="sidebar">
									<div>
										{{ if .Params.categories }}
											<h3 class="u-fontWeight--medium u-borderBottom--gray u-paddingBottom--normal u-marginBottom--normal">{{ replace (index (.Params.categories) 0 | title) "-" " " }}</h3>
											<ul>
											{{ $currentPageTitle := .Title }}
											{{ with $taxonomy := (index (.Params.categories) 0) | urlize }}
												{{ range $index, $element := (index $.Site.Taxonomies.categories $taxonomy).Pages.ByWeight }}
													{{ if not .Params.hideFromList }}
														{{ if eq $currentPageTitle .Title  }}
														<li class="blue"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
														{{ else }}
														<li><a href="{{ .RelPermalink }}" class="u-color--curiousBlue">{{ .Title }}</a></li>
														{{ end }}
													{{ end }}
												{{ end }}
											{{ end }}
											</ul>
										{{ end }}
									</div>
								</div>
							{{ end }}
						</div>
						<div class="flex1 page-content-wrapper">
							<div class="page-content">
								{{ .Content }}
								<div class="prev-next-arrows justifyContent--spaceBetween flex u-marginTop--most">
									<div class="next flex1 u-textAlign--left">
										{{ with .NextInSection }}
											<a href="{{ .Permalink }}">Previous</a>
										{{ end }}
									</div>
									<div class="previous flex1 u-textAlign--right">
										{{ with .PrevInSection }}
											<a href="{{ .Permalink }}">Next</a>
										{{ end }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
		</article>
	</main>
{{ partial "footer.html" . }}
