  <div class="documentation main-section">
    <div class="container">
      <div class="docs-ref-wrapper">
        <div class="docs-ref-list paddingContainer">
          <div class="doc-ref-list-item">
            <div class="doc-ref">
              <p class="u-fontSize--largest u-fontWeight--medium u-color--tuna">Replicated Native Scheduler</p>
              <ul>
                <li>
                  <a href="/docs/native/getting-started" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Getting Started</a>
                </li>
                <li>
                  <a href="/docs/native/packaging-an-application" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Packaging an Application</a>
                </li>
                <li>
                  <a href="/docs/native/distributing-an-application" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Distributing an Application</a>
                </li>
                <li>
                  <a href="/docs/native/examples" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Examples</a>
                </li>
              </ul>
            </div>
          </div><!--
          --><div class="doc-ref-list-item">
            <div class="doc-ref">
              <p class="u-fontSize--largest u-fontWeight--medium u-color--tuna">Ship with Docker Swarm</p>
              <ul>
                <li>
                  <a href="/docs/swarm/getting-started" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Get Started</a>
                </li>
                <li>
                  <a href="/docs/swarm/packaging-an-application/introduction/" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Package an Application</a>
                </li>
                <li>
                  <a href="/docs/swarm/distributing-an-application/" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Distribute an Application</a>
                </li>
                <li>
                  <a href="/docs/swarm/examples/" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Examples</a>
                </li>
            </div>
          </div><!--
          --><div class="doc-ref-list-item">
            <div class="doc-ref">
              <p class="u-fontSize--largest u-fontWeight--medium u-color--tuna">Ship with Kubernetes</p>
              <ul>
                <li>
                  <a href="#" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Get Started</a>
                </li>
                <li>
                  <a href="#" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Package an Application</a>
                </li>
                <li>
                  <a href="#" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Distribute an Application</a>
                </li>
                <li>
                  <a href="#" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Examples</a>
                </li>
            </div>
          </div><!--
          --><div class="doc-ref-list-item">
            <div class="doc-ref">
              <p class="u-fontSize--largest u-fontWeight--medium u-color--tuna">API Resources</p>
              <ul>
                {{ range $index, $element := ($.Site.Taxonomies.categories.reference).Pages }}
                  {{ if not .Params.hideFromList }}
                    <li>
                      <a href="{{ .Permalink }}" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">{{ .Title }}</a>
                    </li>
                  {{ end }}
                {{ end }}
              </ul>
              {{ with $list := $.Site.Taxonomies.categories.reference }}
                {{ $filteredList := where $list "Params.hideFromList" "true" }}
                {{ if gt (len $filteredList) 6 }}
                  <a href="/api" class="more-items u-borderAll--gray u-fontSize--small u-color--curiousBlue">+ {{ sub (len $filteredList) 6 }} More</a>
                {{ end }}
              {{ end }}
            </div>
          </div><!--
          --><div class="doc-ref-list-item">
            <div class="doc-ref">
              <p class="u-fontSize--largest u-fontWeight--medium u-color--tuna">Knowledge Base</p>
              <ul>
                {{ range $index, $element := first 6 (index $.Site.Taxonomies.categories "knowledgebase").Pages }}
                  {{ if not .Params.hideFromList }}
                    <li>
                      <a href="{{ .Permalink }}" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">{{ .Title }}</a>
                    </li>
                  {{ end }}
                {{ end }}
              </ul>
              {{ with $list := (index $.Site.Taxonomies.categories "knowledgebase") }}
                {{ $filteredList := where $list "Params.hideFromList" "true" }}
                {{ if gt (len $filteredList) 6 }}
                  <a href="/knowledgebase" class="more-items u-borderAll--gray u-fontSize--small u-color--curiousBlue">+ {{ sub (len $filteredList) 6 }} More</a>
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
