  <div class="documentation content main-section">
    <div class="container">
      <div class="docs-ref-wrapper">
        <div class="docs-ref-list paddingContainer">
          <div class="doc-ref-list-item">
            <div class="doc-ref">
              <p class="u-fontSize--largest u-fontWeight--medium u-color--tuna">Replicated Native Scheduler</p>
              <ul>
                  <li>
                    <a href="/docs/native/getting-started/overview" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Getting Started</a>
                  </li>
                  <li>
                    <a href="/docs/native/packaging-an-application/overview" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Packaging an Application</a>
                  </li>
                  <li>
                    <a href="/docs/config-screen" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">The Config Screen</a>
                  </li>
                  <li>
                    <a href="/docs/native/customer-installations/overview" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Managing Customer Installations</a>
                  </li>
                  <li>
                    <a href="/docs/native/examples/overview" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Examples</a>
                  </li>
                </ul>
            </div>
          </div><!--
          --><div class="doc-ref-list-item">
            <div class="doc-ref">
              <p class="u-fontSize--largest u-fontWeight--medium u-color--tuna">Ship with Docker Swarm</p>
              <ul>
                  <li>
                    <a href="/docs/swarm/getting-started/overview" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Get Started</a>
                  </li>
                  <li>
                    <a href="/docs/swarm/packaging-an-application/overview" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Creating the YAML</a>
                  </li>
                  <li>
                    <a href="/docs/config-screen" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">The Config Screen</a>
                  </li>
                  <li>
                    <a href="/docs/swarm/customer-installations/overview" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Managing Customer Installations</a>
                  </li>
                  <li>
                    <a href="/docs/swarm/examples/overview" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Examples</a>
                  </li>
                </ul>
            </div>
          </div><!--
          --><div class="doc-ref-list-item">
            <div class="doc-ref">
              <p class="u-fontSize--largest u-fontWeight--medium u-color--tuna">Ship with Kubernetes</p>
              <ul>
                  <li>
                    <a href="/docs/kubernetes/getting-started/overview" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Get Started</a>
                  </li>
                  <li>
                    <a href="/docs/kubernetes/packaging-an-application/overview" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Package an Application</a>
                  </li>
                  <li>
                    <a href="/docs/kubernetes/distributing-an-application/overview" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Distribute an Application</a>
                  </li>
                  <li>
                    <a href="/docs/kubernetes/examples/overview" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Examples</a>
                  </li>
                </ul>
            </div>
          </div><!--

          --><div class="doc-ref-list-item">
            <div class="doc-ref">
              <p class="u-fontSize--largest u-fontWeight--medium u-color--tuna">Snapshots</p>
              <ul>
                  <li>
                    <a href="/docs/snapshots/overview" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Overview</a>
                  </li>
                  <li>
                    <a href="/docs/snapshots/custom-scripts/" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Custom Backup Scripts</a>
                  </li>
                  <li>
                    <a href="/docs/snapshots/customer-snapshot-configuration" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Customer Configuration</a>
                  </li>
                </ul>
            </div>
          </div><!--

          --><div class="doc-ref-list-item">
            <div class="doc-ref">
              <p class="u-fontSize--largest u-fontWeight--medium u-color--tuna">LDAP and Identity</p>
              <ul>
                  <li>
                    <a href="/docs/ldap-and-identity/overview" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Overview</a>
                  </li>
                  <li>
                    <a href="/docs/ldap-and-identity/authentication/" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Authenticating with LDAP</a>
                  </li>
                  <li>
                    <a href="/docs/ldap-and-identity/ldap-sync/" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">Directory Sync</a>
                  </li>
                </ul>
            </div>
          </div><!--

          --><div class="doc-ref-list-item">
            <div class="doc-ref">
              <p class="u-fontSize--largest u-fontWeight--medium u-color--tuna">API Reference</p>
              <ul>
                {{ range $index, $element := ($.Site.Taxonomies.categories.reference).Pages }}
                  {{ if not .Params.hideFromList }}
                    <li>
                      <a href="{{ .Permalink }}" class="u-color--curiousBlue u-textDecoration--underlineOnHover u-lineHeight--normal">{{ .Title }}</a>
                    </li>
                  {{ end }}
                {{ end }}
              </ul>
              {{ with $list := $.Site.Taxonomies.categories.reference }}
                {{ $filteredList := where $list "Params.hideFromList" "true" }}
                {{ if gt (len $filteredList) 6 }}
                  <a href="/api" class="more-items u-borderAll--gray u-fontSize--small u-color--curiousBlue">+ {{ sub (len $filteredList) 6 }} More</a>
                {{ end }}
              {{ end }}
            </div>
          </div><!--
          -->
        </div>
      </div>
    </div>
  </div>
