	<footer>
		<div class="container">
			<div class="footer-items-wrapper">
        <div class="footer-list flex1 paddingContainer">
					{{ partial "footer-items.html" . }}
        </div>
			</div>
		</div>
	</footer>

	{{ with .Site.GoogleAnalytics }}
      <script>
        (function(i,s,o,g,r,a,m){
          i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||
          []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;
          m.parentNode.insertBefore(a,m)
        })(window, document,
          'script', '//www.google-analytics.com/analytics.js', 'ga');
        /* General initialization */
        ga('create', '{{ . }}', 'auto');
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
        /* Track outbound links */
        var buttons = document.querySelectorAll('a');
        Array.prototype.map.call(buttons, function(item) {
          if (item.host != document.location.host) {
            item.addEventListener('click', function() {
              var action = item.getAttribute('data-action') || 'follow';
              ga('send', 'event', 'outbound', action, item.href);
            });
          }
        });
      </script>
    {{ end }}
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.0.0/cjs/react.development.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.0.0/umd/react-dom.development.js"></script>
	<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
	<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
	<script src="{{ .Site.BaseURL }}js/autocomplete-search.js"></script>
	<script src="{{ .Site.BaseURL }}js/prism.js"></script>
	<script>
		function toggleMenuClass() {
			this.classList.toggle("open");
			document.getElementById("headerLinks").classList.toggle("show");
		}
		const toggleMenu = document.getElementById("toggleNav");
		if (toggleMenu) {
			toggleMenu.addEventListener("click", toggleMenuClass);
		};
	</script>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script>
		$('#desktop-search').on("click", function () {
      if(!$('#search-field').is(":visible")) {
        $('#search-field').show("slide", { direction: "right" }, 300);
        $('#search-field').focus();
      }
		});

    $('#search-field').on("blur", function () {
      $(this).hide("slide", { direction: "right" }, 300);
    });
	</script>
</body>
</html>