  <div class="howto u-marginTop--60 u-gradient--whiteToGray">
     <div class="container u-textAlign--center u-marginTop--most">
        <div class="header-wrapper">
          <div class="paddingContainer">
            <p class="u-color--tuna u-fontWeight--bold u-fontSize--header u-marginBottom--normal">How-to Guides</p>
            <p class="u-fontSize--large u-fontWeight--medium u-color--dustyGray u-lineHeight--normal">It's time to earn those Replicated wings. We've curated guides to take you from account creation to shipping your first application.</p>
          </div>
        </div>

        <div class="guides-block-wrapper">
          <div class="u-flexTabletReflow alignItems--center  justifyContent--center flex1 paddingContainer">

              <div class="guide-block-wrapper flex1">
                  <div class="guide-block">
                  <div class="icon-wrapper flex-column justifyContent--flexEnd alignItems--center">
                    <span class="icon u-replicatedKubernetes"></span>
                  </div>
                  <div>
                    <p class="u-fontSize--largest u-color--tuna u-fontWeight--medium u-marginBottom--normal">Distribute a Kubernetes Application with KOTS</p>
                    <p class="u-fontSize--normal u-color--dustyGray u-lineHeight--normal">If you are building a Kubernetes application and want to re-use your YAML, start here. KOTS will allow you to deliver to both existing clusters and to your end customer's plain VMs if they don't have a Kubernetes Cluster.</p>
                  </div>
                  <div class="u-marginTop--more">
                    <a href="https://kots.io/vendor/" class="Button secondary">View guide</a>
                  </div>
                </div>
              </div>

              <div class="guide-block-wrapper flex1">
                <div class="guide-block">
                  <div class="icon-wrapper flex-column justifyContent--flexEnd alignItems--center">
                    <span class="icon u-replicatedDockerSwarm"></span>
                  </div>
                  <div>
                    <p class="u-fontSize--largest u-color--tuna u-fontWeight--medium u-marginBottom--normal">Distribute a Swarm Application</p>
                    <p class="u-fontSize--normal u-color--dustyGray u-lineHeight--normal">If you have a Docker Compose file and want to create a scalable, enterprise-installable appliance experience, this is the place to start.</p>
                  </div>
                  <div class="u-marginTop--more">
                    <a href="/guides/ship-with-docker-swarm" class="Button secondary">View guide</a>
                  </div>
                </div>
              </div>

          </div>

          <div class="u-flexTabletReflow flex1 paddingContainer u-marginBottom--most">
            <div class="guide-block-wrapper flex1">

              <div class="u-marginTop--more">
                <a href="/guides" class="Button primary">View all guides</a>
              </div>

            </div>
          </div>
      </div>
   </div>
