  <div class="howto main-section u-gradient--whiteToGray">
     <div class="container u-textAlign--center">
        <div class="header-wrapper">
          <div class="paddingContainer">
            <p class="u-color--tuna u-fontWeight--bold u-fontSize--header u-marginBottom--normal">How-to Guides</p>
            <p class="u-fontSize--large u-fontWeight--medium u-color--dustyGray u-lineHeight--normal">It's time to earn those Replicated wings. We've curated guides to take you from account creation to shipping your first application.</p>
          </div>
        </div>

        <div class="guides-block-wrapper">
          <div class="u-flexTabletReflow flex1 paddingContainer">

            <div class="guide-block-wrapper flex1">
              <div class="guide-block">
                <div class="icon-wrapper flex-column justifyContent--flexEnd alignItems--center">
                  <span class="icon u-beginnerWings"></span>
                </div>
                <div>
                  <p class="u-fontSize--largest u-color--tuna u-fontWeight--medium u-marginBottom--normal">Getting started</p>
                  <p class="u-fontSize--normal u-color--dustyGray u-lineHeight--normal">Let us be the first to welcome you! We'll start with core concepts and terminology and then get you set up to create and license your first&nbsp;application.</p>
                </div>
                <div class="u-marginTop--more">
                  <a href="/guides/getting-started" class="Button secondary">View guide</a>
                </div>
              </div>
            </div>

            <div class="guide-block-wrapper flex1">
              <div class="guide-block">
                <div class="icon-wrapper flex-column justifyContent--flexEnd alignItems--center">
                  <span class="icon u-intermediateWings"></span>
                </div>
                <div>
                  <p class="u-fontSize--largest u-color--tuna u-fontWeight--medium u-marginBottom--normal">Get to know our features</p>
                  <p class="u-fontSize--normal u-color--dustyGray u-lineHeight--normal">You've used Replicated and mastered the basics. You are familiar with all of the core concepts and terminology and have probably shipped at least one&nbsp;application.</p>
                </div>
                <div class="u-marginTop--more">
                  <a href="/guides/get-to-know-our-features" class="Button secondary">View guide</a>
                </div>
              </div>
            </div>

            <div class="guide-block-wrapper flex1">
              <div class="guide-block">
                <div class="icon-wrapper flex-column justifyContent--flexEnd alignItems--center">
                  <span class="icon u-advancedWings"></span>
                </div>
                <div>
                  <p class="u-fontSize--largest u-color--tuna u-fontWeight--medium u-marginBottom--normal">Become production ready</p>
                  <p class="u-fontSize--normal u-color--dustyGray u-lineHeight--normal">You've mastered Replicated, you probably  have shipped multiple applications and are familiar with some of our more advanced&nbsp;features.</p>
                  <div class="u-marginTop--more">
                    <a href="/guides/become-production-ready" class="Button secondary">View guide</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

    </div>
  </div>