  <div class="howto u-marginTop--60 u-gradient--whiteToGray">
     <div class="container u-textAlign--center u-marginTop--most">
        <div class="header-wrapper">
          <div class="paddingContainer">
            <p class="u-color--tuna u-fontWeight--bold u-fontSize--header u-marginBottom--normal">How-to Guides</p>
            <p class="u-fontSize--large u-fontWeight--medium u-color--dustyGray u-lineHeight--normal">It's time to earn those Replicated wings. We've curated guides to take you from account creation to shipping your first application.</p>
          </div>
        </div>

        <div class="guides-block-wrapper">
          <div class="u-flexTabletReflow alignItems--center  justifyContent--center flex1 paddingContainer">

              <div class="guide-block-wrapper flex1">
                  <div class="guide-block">
                  <div class="icon-wrapper flex-column justifyContent--flexEnd alignItems--center">
                    <span class="icon u-replicatedKubernetes"></span>
                  </div>
                  <div>
                    <p class="u-fontSize--largest u-color--tuna u-fontWeight--medium u-marginBottom--normal">Shipping Kubernetes Appliances</p>
                    <p class="u-fontSize--normal u-color--dustyGray u-lineHeight--normal">When you are shipping to Kubernetes already, and want to keep the same deployments, but your customers don't have a cluster, start here.</p>
                  </div>
                  <div class="u-marginTop--more">
                    <a href="/guides/ship-with-kubernetes" class="Button secondary">View guide</a>
                  </div>
                </div>
              </div>

              <!--
              <div class="guide-block-wrapper flex1">
                <div class="guide-block">
                  <div class="icon-wrapper flex-column justifyContent--flexEnd alignItems--center">
                    <span class="icon u-replicatedHelm"></span>
                  </div>
                  <div>
                    <p class="u-fontSize--largest u-color--tuna u-fontWeight--medium u-marginBottom--normal">Shipping A Helm Application</p>
                    <p class="u-fontSize--normal u-color--dustyGray u-lineHeight--normal">Learn how to ship a Helm application using Replicated to customers who already have a Kubernetes cluster to deploy to.</p>
                    <div class="u-marginTop--more">
                      <a href="/guides/helm-application" class="Button secondary">View guide</a>
                    </div>
                  </div>
                </div>
              </div>
            -->

            <div class="guide-block-wrapper flex1">
              <div class="guide-block">
                <div class="icon-wrapper flex-column justifyContent--flexEnd alignItems--center">
                  <span class="icon u-replicatedDockerSwarm"></span>
                </div>
                <div>
                  <p class="u-fontSize--largest u-color--tuna u-fontWeight--medium u-marginBottom--normal">Shipping A Swarm Application</p>
                  <p class="u-fontSize--normal u-color--dustyGray u-lineHeight--normal">If you have a Docker Compose file and want to create a scalable, enterprise-installable appliance experience, this is the place to start.</p>
                </div>
                <div class="u-marginTop--more">
                  <a href="/guides/ship-with-docker-swarm" class="Button secondary">View guide</a>
                </div>
              </div>
            </div>

            <div class="guide-block-wrapper flex1">
                <div class="guide-block">
                  <div class="icon-wrapper flex-column justifyContent--flexEnd alignItems--center">
                    <span class="icon u-replicatedCircle"></span>
                  </div>
                  <div>
                    <p class="u-fontSize--largest u-color--tuna u-fontWeight--medium u-marginBottom--normal">Replicated <br/>Native Scheduler</p>
                    <p class="u-fontSize--normal u-color--dustyGray u-lineHeight--normal">The Replicated scheduler supports Enterprise operating systems such as RHEL 6 and CentOS 6. To learn about the Native scheduler, start here.</p>
                  </div>
                  <div class="u-marginTop--more">
                    <a href="/guides/native-scheduler" class="Button secondary">View guide</a>
                  </div>
                </div>
              </div>

          </div>

          <div class="u-flexTabletReflow flex1 paddingContainer u-marginBottom--most">
            <div class="guide-block-wrapper flex1">

              <div class="u-marginTop--more">
                <a href="/guides" class="Button primary">View all guides</a>
              </div>

            </div>
          </div>
      </div>
   </div>
