  <div class="search u-gradient--redToRed main-section">
    <div class="container">
      <h1 class="u-color--white u-fontWeight--bold u-fontSize--header u-textAlign--center">Help Center</h1>
      <div class="search-wrapper">
          <div class="paddingContainer">
              <div class="input-wrap u-position--relative">
                <input type="text" class="search-box Input" id="instantsearch-box" placeholder="Search support topics, questions, etc…" />
              </div>
          </div>
      </div>
    </div>
  </div>