  <div class="quicklinks-wrapper">
    <div class="container">
      <div class="u-flexTabletReflow flex1 quicklinks-blocks-wrapper paddingContainer">

        <div class="quicklink-block-wrapper flex1">
          <a href="https://kots.io/vendor/packaging/packaging-an-app/">
            <div class="quicklink-block">
              <div class="icon-wrapper flex alignItems--center justifyContent--center">
                <span class="icon u-documentationIcon"></span>
              </div>
              <div>
                <p class="u-fontSize--largest u-color--tuna u-fontWeight--medium u-marginBottom--normal">Replicated Docs</p>
                <p class="u-fontSize--normal u-color--dustyGray u-lineHeight--normal">From packaging to distribution. Whatever you need, you can find it here.</p>
              </div>
            </div>
          </a>
        </div>

        <div class="quicklink-block-wrapper flex1">
          <a href="/docs/kubernetes/getting-started/overview/">
            <div class="quicklink-block">
              <div class="icon-wrapper flex alignItems--center justifyContent--center">
                <span class="icon u-classicDocumentationIcon"></span>
              </div>
              <div>
                <p class="u-fontSize--largest u-color--tuna u-fontWeight--medium u-marginBottom--normal">Replicated Classic Docs</p>
                <p class="u-fontSize--normal u-color--dustyGray u-lineHeight--normal">Docs for prior versions of Replicated.</p>
              </div>
            </div>
          </a>
        </div>

        <div class="quicklink-block-wrapper flex1">
          <a href="https://vendor.replicated.com/support" target="_blank" rel="noreferrer noopener">
            <div class="quicklink-block">
              <div class="icon-wrapper flex alignItems--center justifyContent--center">
                <span class="icon u-contactIcon"></span>
              </div>
              <div>
                <p class="u-fontSize--largest u-color--tuna u-fontWeight--medium u-marginBottom--normal">Contact Support</p>
                <p class="u-fontSize--normal u-color--dustyGray u-lineHeight--normal">Can't find what you're looking for? Send us a message and we'll be happy to help.</p>
              </div>
            </div>
          </a>
        </div>

        <div class="quicklink-block-wrapper flex1">
          <a href="/api">
            <div class="quicklink-block">
              <div class="icon-wrapper flex alignItems--center justifyContent--center">
                <span class="icon u-communityIcon"></span>
              </div>
              <div>
                <p class="u-fontSize--largest u-color--tuna u-fontWeight--medium u-marginBottom--normal">Community</p>
                <p class="u-fontSize--normal u-color--dustyGray u-lineHeight--normal">A community forum to help Replicated users.</p>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
