  <div class="quicklinks-wrapper">
    <div class="container">
      <div class="u-flexTabletReflow flex1 quicklinks-blocks-wrapper paddingContainer">

        <div class="quicklink-block-wrapper flex1">
          <a href="/guides">
            <div class="quicklink-block">
              <div class="icon-wrapper">
                <span class="icon u-guidesIcon"></span>
              </div>
              <div>
                <p class="u-fontSize--largest u-color--tuna u-fontWeight--medium u-marginBottom--normal">Guides</p>
                <p class="u-fontSize--normal u-color--dustyGray u-lineHeight--normal">Guides for all things Replicated for beginners and experienced users alike.</p>
              </div>
            </div>
          </a>
        </div>

        <div class="quicklink-block-wrapper flex1">
          <a href="/docs/native/getting-started/overview/">
            <div class="quicklink-block">
              <div class="icon-wrapper">
                <span class="icon u-documentationIcon"></span>
              </div>
              <div>
                <p class="u-fontSize--largest u-color--tuna u-fontWeight--medium u-marginBottom--normal">Documentation</p>
                <p class="u-fontSize--normal u-color--dustyGray u-lineHeight--normal">From packaging to distribution. Whatever you need, you can find it here.</p>
              </div>
            </div>
          </a>
        </div>

        <div class="quicklink-block-wrapper flex1">
          <a href="/api">
            <div class="quicklink-block">
              <div class="icon-wrapper">
                <span class="icon u-apiReferenceIcon"></span>
              </div>
              <div>
                <p class="u-fontSize--largest u-color--tuna u-fontWeight--medium u-marginBottom--normal">API Reference</p>
                <p class="u-fontSize--normal u-color--dustyGray u-lineHeight--normal">In-depth documentation for all of Replicated's API Clients, Endpoints and Parameters.</p>
              </div>
            </div>
          </a>
        </div>

        <div class="quicklink-block-wrapper flex1">
          <a href="https://vendor.replicated.com/support" target="_blank" rel="noreferrer noopener">
            <div class="quicklink-block">
              <div class="icon-wrapper">
                <span class="icon u-contactIcon"></span>
              </div>
              <div>
                <p class="u-fontSize--largest u-color--tuna u-fontWeight--medium u-marginBottom--normal">Contact Support</p>
                <p class="u-fontSize--normal u-color--dustyGray u-lineHeight--normal">Can't find what you're looking for? Send us a message and we'll be happy to help.</p>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
