  <div class="schedulers main-section">
     <div class="container">
        <div class="header-wrapper u-textAlign--center">
          <div class="paddingContainer">
            <p class="u-color--tuna u-fontWeight--bold u-fontSize--header u-marginBottom--normal">Which scheduler is right for you?</p>
            <p class="u-fontSize--large u-fontWeight--medium u-color--dustyGray u-lineHeight--normal">Replicated gives you the flexibility to choose an orchestration layer that works best for your companies deployment strategy.</p>
          </div>
        </div>

        <div class="schedulers-wrapper">
          <div class="u-flexTabletReflow flex1 paddingContainer">

            <div class="scheduler-wrapper flex1">
              <div class="scheduler">
                <div class="icon-wrapper flex-column justifyContent--center">
                  <span class="replicatedLogo"></span>
                </div>
                <div>
                  <p class="u-fontSize--largest u-color--tuna u-fontWeight--medium u-marginBottom--normal">Replicated + built-in scheduler</p>
                  <p class="u-fontSize--large u-color--dustyGray u-lineHeight--normal">The Replicated scheduler is a mature container orchestration runtime that supports Docker 1.7.1 and newer.</p>
                </div>
              </div>
            </div>

            <div class="scheduler-wrapper flex1">
              <div class="scheduler">
                <div class="icon-wrapper flex-column justifyContent--center">
                  <span class="kubernetesLogo"></span>
                </div>
                <div>
                  <p class="u-fontSize--largest u-color--tuna u-fontWeight--medium u-marginBottom--normal">Kubernetes + Replicated</p>
                  <p class="u-fontSize--large u-color--dustyGray u-lineHeight--normal">Kubernetes is a powerful and popular container orchestration and runtime that's quickly gaining popularity.</p>
                </div>
              </div>
            </div>

            <div class="scheduler-wrapper flex1">
              <div class="scheduler">
                <div class="icon-wrapper flex-column justifyContent--center">
                  <span class="dockerSwarmLogo"></span>
                </div>
                <div>
                  <p class="u-fontSize--largest u-color--tuna u-fontWeight--medium u-marginBottom--normal">Docker Swarm + Replicated</p>
                  <p class="u-fontSize--large u-color--dustyGray u-lineHeight--normal">Use Docker Swarm if you have existing docker-compose yaml and want to target servers running Docker 1.13.1 or newer.</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="u-marginTop--most u-textAlign--center">
          <a href="/schedulers" class="Button secondary">Discover &amp; compare schedulers</a>
        </div>

    </div>
  </div>
