{{ $currentPage := . }}
{{ $currentSection := .CurrentSection }}
{{ $scope :=  .CurrentSection.Parent.Title }}
{{ $category := .CurrentSection.Title }}
<div class="sidebar">
        <div class="dropdown u-marginBottom--most">
            <p class="u-fontWeight--bold u-fontSize--largest u-color--tuna u-paddingBottom--normal">Documentation</p>
            <p class="u-fontSize--large u-fontWeight--medium u-cursor--pointer flex justifyContent--spaceBetween alignItems--center" id="dropdown-link">
                {{ if eq $category "other" }}
                    <span>Replicated Features</span>
                {{ else }}
                    {{ if $scope }}
                        <span>{{ $scope | title }}</span>
                    {{ end }}
                {{ end }}
                <span class="icon u-chevronIcon u-margingRight--small"></span>
            </p>
            <div class="menu" id="scheduler-dropdown-menu" style="display: none">
                <a href="/docs/native/getting-started/overview" class="u-fontWeight--medium u-color--tuna u-fontSize--normal">
                    <p class="scheduler-menu-item" class="u-lineHeight--normal">Native Scheduler</p>
                </a>
                <a href="/docs/kubernetes/getting-started/overview" class="u-fontWeight--medium u-color--tuna u-fontSize--normal">
                    <p class="scheduler-menu-item" class="u-lineHeight--normal">Kubernetes</p>
                </a>
                <a href="/docs/swarm/getting-started/overview" class="u-fontWeight--medium u-color--tuna u-fontSize--normal">
                    <p class="scheduler-menu-item" class="u-lineHeight--normal">Docker Swarm</p>
                </a>
                <a href="/docs/config-screen/config-yaml" class="u-fontWeight--medium u-color--tuna u-fontSize--normal">
                    <p class="scheduler-menu-item" class="u-lineHeight--normal">Replicated Features</p>
                </a>
                <div class="u-borderTop--gray u-paddingTop--normal u-marginTop--small u-fontSize--normal u-fontWeight--bold u-color--curiousBlue u-paddingLeft--small">
                    <a href="/docs/products/getting-started" class="u-color--curiousBlue">Replicated Products</a>
                    <div class="u-marginTop--small">
                        <a href="/docs/audit-log" class="u-fontWeight--medium u-color--tuna u-fontSize--small">
                            <p class="scheduler-menu-item-sub" class="u-lineHeight--normal">Audit Log</p>
                        </a>
                        <a href="/docs/entitlements" class="u-fontWeight--medium u-color--tuna u-fontSize--small">
                            <p class="scheduler-menu-item-sub" class="u-lineHeight--normal">Entitlements</p>
                        </a>
                        <a href="/docs/ship" class="u-fontWeight--medium u-color--tuna u-fontSize--small">
                            <p class="scheduler-menu-item-sub" class="u-lineHeight--normal">Ship</p>
                        </a>
                        <a href="/docs/troubleshoot" class="u-fontWeight--medium u-color--tuna u-fontSize--small">
                            <p class="scheduler-menu-item-sub" class="u-lineHeight--normal">Troubleshoot</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="desktop-only">
            {{ if eq $scope "Native Scheduler" }}
            <div class="u-marginBottom--most">
                <h3 class="u-fontWeight--bold u-fontSize--large u-lineHeight--normal u-borderBottom--gray u-paddingBottom--normal u-marginBottom--normal">Replicated Native Scheduler</h3>
                {{ with .Site.GetPage "section" "docs" "native" }}
                    {{ range .Pages }}
                        <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                            <a href="{{ .Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                {{ .Title }}
                            </a>
                        </p>
                    {{ end }}
                    {{ range .Sections }}
                        {{ $firstPage := index (first 1 .Pages) 0 }}
                        <h3 class="u-fontWeight--medium u-fontSize--normal u-marginTop--normal u-lineHeight--normal">
                            <a href="{{ $firstPage.Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--tuna {{ end }}">{{ .Title }}</a>
                        </h3>
                        {{ if .InSection $currentPage }}
                            <div class="u-paddingLeft--normal u-marginTop--small u-marginBottom--small">
                                {{ range .Pages }}
                                    {{ if not .Params.hideFromList }}
                                    <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                                        <a href="{{ .Permalink }}" class="{{ if eq .Title $currentPage.Title }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                            {{ .Title }}
                                        </a>
                                    </p>
                                    {{ end }}
                                {{ end }}
                            </div>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
            {{ end }}
            {{ if eq $scope "Docker Swarm" }}
            <div class="u-marginBottom--most">
                <h3 class="u-fontWeight--bold u-fontSize--large u-borderBottom--gray u-paddingBottom--normal u-marginBottom--normal">Swarm</h3>
                {{ with .Site.GetPage "section" "docs" "swarm" }}
                    {{ range .Pages }}
                        <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                            <a href="{{ .Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                {{ .Title }}
                            </a>
                        </p>
                    {{ end }}
                    {{ range .Sections }}
                        {{ $firstPage := index (first 1 .Pages) 0 }}
                        <h3 class="u-fontWeight--medium u-fontSize--normal u-marginTop--normal u-lineHeight--normal">
                            <a href="{{ $firstPage.Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--tuna {{ end }}">{{ .Title }}</a>
                        </h3>
                        {{ if .InSection $currentPage }}
                            <div class="u-paddingLeft--normal u-marginTop--small u-marginBottom--small">
                                {{ range .Pages }}
                                    {{ if not .Params.hideFromList }}
                                    <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                                        <a href="{{ .Permalink }}" class="{{ if eq .Title $currentPage.Title }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                            {{ .Title }}
                                        </a>
                                    </p>
                                    {{ end }}
                                {{ end }}
                            </div>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
            {{ end }}
            {{ if eq $scope "Kubernetes" }}
            <div class="u-marginBottom--most">
                <h3 class="u-fontWeight--bold u-fontSize--large u-borderBottom--gray u-paddingBottom--normal u-marginBottom--normal">Kubernetes</h3>
                {{ with .Site.GetPage "section" "docs" "kubernetes" }}
                    {{ range .Pages }}
                        <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                            <a href="{{ .Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                {{ .Title }}
                            </a>
                        </p>
                    {{ end }}
                    {{ range .Sections }}
                        {{ $firstPage := index (first 1 .Pages) 0 }}
                        <h3 class="u-fontWeight--medium u-fontSize--normal u-marginTop--normal u-lineHeight--normal">
                            <a href="{{ $firstPage.Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--tuna {{ end }}">{{ .Title }}</a>
                        </h3>
                        {{ if .InSection $currentPage }}
                            <div class="u-paddingLeft--normal u-marginTop--small u-marginBottom--small">
                                {{ range .Pages }}
                                    {{ if not .Params.hideFromList }}
                                    <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                                        <a href="{{ .Permalink }}" class="{{ if eq .Title $currentPage.Title }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                            {{ .Title }}
                                        </a>
                                    </p>
                                    {{ end }}
                                {{ end }}
                            </div>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
            {{ end }}
            {{ if or (eq $category "Snapshots") (eq $category "LDAP and Identity Integration") (eq $category "Config Screen") (eq $category "Knowledge Base") }}
            <div class="u-marginBottom--most">
              <h3 class="u-fontWeight--bold u-fontSize--large u-borderBottom--gray u-paddingBottom--normal u-marginBottom--normal">Config Screen</h3>
              {{ with .Site.GetPage "section" "docs" "config-screen" }}
                  {{ range .Pages }}
                      <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                          <a href="{{ .Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                              {{ .Title }}
                          </a>
                      </p>
                  {{ end }}
                  {{ range .Sections }}
                      {{ $firstPage := index (first 1 .Pages) 0 }}
                      <h3 class="u-fontWeight--medium u-fontSize--normal u-marginTop--normal u-lineHeight--normal">
                          <a href="{{ $firstPage.Permalink }}" class="{{ if eq .Title $currentPage.Title }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--tuna {{ end }}">{{ .Title }}</a>
                      </h3>
                      {{ if .InSection $currentPage }}
                          <div class="u-paddingLeft--normal u-marginTop--small u-marginBottom--small">
                              {{ range .Pages }}
                                  {{ if not .Params.hideFromList }}
                                  <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                                      <a href="{{ .Permalink }}" class="{{ if eq .Title $currentPage.Title }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                          {{ .Title }}
                                      </a>
                                  </p>
                                  {{ end }}
                              {{ end }}
                          </div>
                      {{ end }}
                  {{ end }}
              {{ end }}
            </div>
            <div class="u-marginBottom--most">
                <h3 class="u-fontWeight--bold u-fontSize--large u-borderBottom--gray u-paddingBottom--normal u-marginBottom--normal">Snapshots</h3>
                {{ with .Site.GetPage "section" "docs" "snapshots" }}
                    {{ range .Pages }}
                        <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                            <a href="{{ .Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                {{ .Title }}
                            </a>
                        </p>
                    {{ end }}
                    {{ range .Sections }}
                        {{ $firstPage := index (first 1 .Pages) 0 }}
                        <h3 class="u-fontWeight--medium u-fontSize--normal u-marginTop--normal u-lineHeight--normal">
                            <a href="{{ $firstPage.Permalink }}" class="{{ if eq .Title $currentPage.Title }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--tuna {{ end }}">{{ .Title }}</a>
                        </h3>
                        {{ if .InSection $currentPage }}
                            <div class="u-paddingLeft--normal u-marginTop--small u-marginBottom--small">
                                {{ range .Pages }}
                                    {{ if not .Params.hideFromList }}
                                    <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                                        <a href="{{ .Permalink }}" class="{{ if eq .Title $currentPage.Title }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                            {{ .Title }}
                                        </a>
                                    </p>
                                    {{ end }}
                                {{ end }}
                            </div>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
            <div class="u-marginBottom--most">
                <h3 class="u-fontWeight--bold u-fontSize--large u-borderBottom--gray u-paddingBottom--normal u-marginBottom--normal">LDAP & Identity</h3>
                {{ with .Site.GetPage "section" "docs" "ldap-and-identity" }}
                    {{ range .Pages }}
                        <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                            <a href="{{ .Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                {{ .Title }}
                            </a>
                        </p>
                    {{ end }}
                    {{ range .Sections }}
                        {{ $firstPage := index (first 1 .Pages) 0 }}
                        <h3 class="u-fontWeight--medium u-fontSize--normal u-marginTop--normal u-lineHeight--normal">
                            <a href="{{ $firstPage.Permalink }}" class="{{ if eq .Title $currentPage.Title }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--tuna {{ end }}">{{ .Title }}</a>
                        </h3>
                        {{ if .InSection $currentPage }}
                            <div class="u-paddingLeft--normal u-marginTop--small u-marginBottom--small">
                                {{ range .Pages }}
                                    {{ if not .Params.hideFromList }}
                                    <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                                        <a href="{{ .Permalink }}" class="{{ if eq .Title $currentPage.Title }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                            {{ .Title }}
                                        </a>
                                    </p>
                                    {{ end }}
                                {{ end }}
                            </div>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
            <div class="u-marginBottom--most">
                <h3 class="u-fontWeight--bold u-fontSize--large u-borderBottom--gray u-paddingBottom--normal u-marginBottom--normal">Private Registry</h3>
                {{ with .Site.GetPage "section" "docs" "registry" }}
                    {{ range .Pages }}
                        <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                            <a href="{{ .Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                {{ .Title }}
                            </a>
                        </p>
                    {{ end }}
                    {{ range .Sections }}
                        {{ $firstPage := index (first 1 .Pages) 0 }}
                        <h3 class="u-fontWeight--medium u-fontSize--normal u-marginTop--normal u-lineHeight--normal">
                            <a href="{{ $firstPage.Permalink }}" class="{{ if eq .Title $currentPage.Title }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--tuna {{ end }}">{{ .Title }}</a>
                        </h3>
                        {{ if .InSection $currentPage }}
                            <div class="u-paddingLeft--normal u-marginTop--small u-marginBottom--small">
                                {{ range .Pages }}
                                    {{ if not .Params.hideFromList }}
                                    <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                                        <a href="{{ .Permalink }}" class="{{ if eq .Title $currentPage.Title }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                            {{ .Title }}
                                        </a>
                                    </p>
                                    {{ end }}
                                {{ end }}
                            </div>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>            
            {{ end }}
            {{ if eq $scope "Audit Log" }}
            <div class="u-marginBottom--most">
                <h3 class="u-fontWeight--bold u-fontSize--large u-borderBottom--gray u-paddingBottom--normal u-marginBottom--normal">Replicated Audit Log</h3>
                {{ with .Site.GetPage "section" "docs" "audit-log" }}
                    {{ range .Pages }}
                        <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                            <a href="{{ .Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                {{ .Title }}
                            </a>
                        </p>
                    {{ end }}
                    {{ range .Sections }}
                        {{ $firstPage := index (first 1 .Pages) 0 }}
                        <h3 class="u-fontWeight--medium u-fontSize--normal u-marginTop--normal u-lineHeight--normal">
                            <a href="{{ $firstPage.Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--tuna {{ end }}">{{ .Title }}</a>
                        </h3>
                        {{ if .InSection $currentPage }}
                            <div class="u-paddingLeft--normal u-marginTop--small u-marginBottom--small">
                                {{ range .Pages }}
                                    {{ if not .Params.hideFromList }}
                                    <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                                        <a href="{{ .Permalink }}" class="{{ if eq .Title $currentPage.Title }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                            {{ .Title }}
                                        </a>
                                    </p>
                                    {{ end }}
                                {{ end }}
                            </div>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
            {{ end }}
            {{ if eq $scope "Ship" }}
            <div class="u-marginBottom--most">
                <h3 class="u-fontWeight--bold u-fontSize--large u-borderBottom--gray u-paddingBottom--normal u-marginBottom--normal">Replicated Ship</h3>
                {{ with .Site.GetPage "section" "docs" "ship" }}
                    {{ range .Pages }}
                        <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                            <a href="{{ .Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                {{ .Title }}
                            </a>
                        </p>
                    {{ end }}
                    {{ range .Sections }}
                        {{ $firstPage := index (first 1 .Pages) 0 }}
                        <h3 class="u-fontWeight--medium u-fontSize--normal u-marginTop--normal u-lineHeight--normal">
                            <a href="{{ $firstPage.Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--tuna {{ end }}">{{ .Title }}</a>
                        </h3>
                        {{ if .InSection $currentPage }}
                            <div class="u-paddingLeft--normal u-marginTop--small u-marginBottom--small">
                                {{ range .Pages }}
                                    {{ if not .Params.hideFromList }}
                                    <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                                        <a href="{{ .Permalink }}" class="{{ if eq .Title $currentPage.Title }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                            {{ .Title }}
                                        </a>
                                    </p>
                                    {{ end }}
                                {{ end }}
                            </div>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
            {{ end }}
            {{ if eq $scope "Troubleshoot" }}
            <div class="u-marginBottom--most">
                <h3 class="u-fontWeight--bold u-fontSize--large u-borderBottom--gray u-paddingBottom--normal u-marginBottom--normal">Replicated Troubleshoot</h3>
                {{ with .Site.GetPage "section" "docs" "troubleshoot" }}
                    {{ range .Pages }}
                        <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                            <a href="{{ .Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                {{ .Title }}
                            </a>
                        </p>
                    {{ end }}
                    {{ range .Sections }}
                        {{ $firstPage := index (first 1 .Pages) 0 }}
                        <h3 class="u-fontWeight--medium u-fontSize--normal u-marginTop--normal u-lineHeight--normal">
                            <a href="{{ $firstPage.Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--tuna {{ end }}">{{ .Title }}</a>
                        </h3>
                        {{ if .InSection $currentPage }}
                            <div class="u-paddingLeft--normal u-marginTop--small u-marginBottom--small">
                                {{ range .Pages }}
                                    {{ if not .Params.hideFromList }}
                                    <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                                        <a href="{{ .Permalink }}" class="{{ if eq .Title $currentPage.Title }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                            {{ .Title }}
                                        </a>
                                    </p>
                                    {{ end }}
                                {{ end }}
                            </div>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
            {{ end }}
            {{ if eq $scope "Entitlements" }}
            <div class="u-marginBottom--most">
                <h3 class="u-fontWeight--bold u-fontSize--large u-borderBottom--gray u-paddingBottom--normal u-marginBottom--normal">Replicated Entitlements</h3>
                {{ with .Site.GetPage "section" "docs" "entitlements" }}
                    {{ range .Pages }}
                        <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                            <a href="{{ .Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                {{ .Title }}
                            </a>
                        </p>
                    {{ end }}
                    {{ range .Sections }}
                        {{ $firstPage := index (first 1 .Pages) 0 }}
                        <h3 class="u-fontWeight--medium u-fontSize--normal u-marginTop--normal u-lineHeight--normal">
                            <a href="{{ $firstPage.Permalink }}" class="{{ if and (eq .Title $currentPage.Title) (eq .CurrentSection $currentSection) }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--tuna {{ end }}">{{ .Title }}</a>
                        </h3>
                        {{ if .InSection $currentPage }}
                            <div class="u-paddingLeft--normal u-marginTop--small u-marginBottom--small">
                                {{ range .Pages }}
                                    {{ if not .Params.hideFromList }}
                                    <p class="u-paddingTop--small u-fontSize--normal u-lineHeight--normal">
                                        <a href="{{ .Permalink }}" class="{{ if eq .Title $currentPage.Title }} u-color--curiousBlueDark u-fontWeight--bold {{ else }} u-color--curiousBlue {{ end }}">
                                            {{ .Title }}
                                        </a>
                                    </p>
                                    {{ end }}
                                {{ end }}
                            </div>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
