{{ partial "headerWithSearch.html" . }}
<main>
    <article class="single docs-page">
        <div class="u-gradient--darkBlueToLavender main-section flex-column flex1 justifyContent--center">
            <div class="container u-marginTop--most">
                <div class="paddingContainer">
                    <div class="flex flex-auto justifyContent--center u-marginTop--more">
                        <div class="flex-auto u-hidden--mobileTablet">
                            <span class="icon u-docsHeaderIcon u-marginRight--normal"></span>
                        </div>
                        <div class="flex-auto u-widthMobile--full">
                            <h3 class="u-color--white u-fontWeight--bold u-fontSize--header">Tutorials</h3>
                            <p class="u-fontSize--normal u-fontWeight--medium u-color--white u-marginTop--small u-lineHeight--normal">Explore tutorials to some of our most commonly asked questions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-section">
            <div class="container flex">
                <div class="paddingContainer">
                    <ul class="docs-categories-list">
                        {{ range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
                            {{ if not .Params.hideFromList }}
                                <li>
                                    <div class="doc-block">
                                        <p class="u-fontSize--largest u-fontWeight--medium u-color--tuna u-marginBottom--normal">{{ .Title }}</p>
                                        <p class="u-fontSize--large u-color--dustyGray u-margin--none u-lineHeight--normal">{{ .Description }}</p>
                                        <div class="u-marginTop--more">
                                            <a class="u-color--curiousBlue u-fontWeight--medium view-docs-link u-position--relative" href='{{ .Permalink }}'>View docs</a>
                                        </div>
                                    </div>
                                </li>
                            {{ end }}
                          {{ end }}
                    </ul>
                </div>
            </div>
        </div>
        <div>
        {{ template "_internal/disqus.html" . }}
        </div>
    </article>
</main>
{{ partial "footer.html" . }}