body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body a {
  text-decoration: none;
  outline: none;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  font-family: "Monaco", "Helvetica Neue", "Helvetica", sans-serif;
  background-color: #f9f2f4;
  border-radius: 4px;
}
pre code {
  padding: 0;
}
.container {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
}
.paddingContainer {
  padding: 0 20px;
}
.support-bundler-container {
  padding: 30px 20px 60px;
  max-width: 560px;
  margin: 0 auto;
}

.main-section {
  padding: 50px 0;
  position: relative;
  margin: 0;
}

.header-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input:-moz-placeholder,
textarea:-moz-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder { color: #9B9B9B; }

/* 
Apply this class to any icon using main_spritesheet. From there
all you need to do is supply a `width: [value]` `height: [value]`
and `background-position: [value]`
*/
.icon {
  background-image: url("../../images/main_spritesheet.svg");
  background-repeat: no-repeat;
  background-size: initial;
  display: inline-block;
  cursor: default;
  position: relative;
}
.icon.clickable { cursor: pointer; }
.tooltip {
  cursor: pointer;
}
.ui-tooltip {
  position: absolute;
  background: #323232;
  color: white;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
  list-style: none;
  max-width: 200px;
}
.ui-tooltip-content {
  position: relative;
  padding: 8px;
  text-align: center;
  line-height: 15px;
}
.ui-tooltip-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-color: #323232 transparent;
  border-width: 5px 5px 0;   
}

/* Media Queries */

/* ≥ 568px */
@media screen and (min-width: 35.5em) {
  
}

/* ≥ 768px */
@media screen and (min-width: 48em) {
  .support-bundler-container {
    padding: 60px 20px;
  }
}

/* ≥ 960px */
@media screen and (min-width: 60em) {

}

/* ≥ 1024px */
@media screen and (min-width: 64em) {
  .paddingContainer { padding: 0 30px; }
  .main-section { padding: 60px 0 70px; }
}

/* ≥ 1280px */
@media screen and (min-width: 80em) {

}

@media screen and (max-width: 81.25em) {

}
