.u-color--dustyGray { color: #9B9B9B; }
.u-color--silverSand { color: #C4C7CA; }
.u-color--tuna { color: #323232; }
.u-color--tundora { color: #4A4A4A; }
.u-color--white { color: #ffffff; }
.u-color--vistaWhite { color: #FCFAF7; }
.u-color--alabaster { color: #F7F7F7; }
.u-color--curiousBlue { color: #2A98CB; }
.u-color--chestnut { color: #BC4752; }
.u-color--linkWater { color: #F5F8FC; }
