apiVersion: apps/v1
kind: Deployment
metadata:
  name: help-center
spec:
  selector:
    matchLabels:
      app: help-center
  template:
    metadata:
      labels:
        app: help-center
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 2
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - help-center
              topologyKey: "kubernetes.io/hostname"
      containers:
        - name: help-center
          image: replicated/help-center
          imagePullPolicy: IfNotPresent
          ports:
            - name: help-center
              containerPort: 3000
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /healthz
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 2
            successThreshold: 2
            timeoutSeconds: 1
