<ul class="single-cat-docs-list">
    {{ with $param := .Get 0 }}
        {{ range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
            <li>
                <a href="/{{ .Permalink }}">
                    <p class="u-fontSize--largest u-fontWeight--medium list-title">{{ .Title }}</p>
                    {{ if .description }}
                    <p class="u-fontSize--large u-color--dustyGray u-marginTop--normal u-lineHeight--normal">{{ .description }}</p>
                    {{ end }}
                </a>
            </li>
        {{ end }}
    {{ end }}
</ul>
