<div class="kots-doc-wrapper-alt">
    <div class="kots-doc-alt">
        <div style="flex-grow: 1">
            <img src="{{ .Site.BaseURL }}images/kots-doc.svg" width="40px" class="kots-doc-icon" />
        </div>
        <div style="flex-grow: 4; margin-top: 10px;">
            <span class="u-fontSize--largest u-color--tuna">Looking for</span><span class="pad-top-25"><img src="{{ .Site.BaseURL }}images/kots.svg" width="40px" style="margin: 0 5px;"/></span>
            <span class="u-fontSize--largest u-color--tuna">documentation?</span>
            <p class="margin-top-10">Head over to <strong><a href="https://kots.io/vendor">https://kots.io/vendor</a></strong> to get started.</p>
        </div>
    </div>
</div>
