<h2 id={{ .Get "name" }}>{{ .Get "name" }}</h2>
<div style="margin-top: 8px; margin-bottom: 8px;">
  <span class="badge badge-grey">
    {{ if ne "true" (.Get "replicated") }}<i class="icon u-grayFailCircle"></i>{{ else }} <i class="icon u-greenCheckCircle"></i>{{ end }}&nbsp;Replicated
  </span>
  &nbsp;
  <span class="badge badge-grey">
    {{ if ne "true" (.Get "swarm") }}<i class="icon u-grayFailCircle"></i>{{ else }} <i class="icon u-greenCheckCircle"></i>{{ end }}&nbsp;Swarm
  </span>
  &nbsp;
  <span class="badge badge-grey">
    {{ if ne "true" (.Get "kubernetes") }}<i class="icon u-grayFailCircle"></i>{{ else }} <i class="icon u-greenCheckCircle"></i>{{ end }}&nbsp;Kubernetes
  </span>
</div>
